/* #region General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle
}

:root {
    --pb-title-dark: black;
    --pb-text-dark: #212438;
    --pb-photo-bg: white;

    --pb-title-font-family: 'Edu TAS Beginner', sans-serif;
    --pb-body-font-family: 'Sometype Mono', monospace;
}

/* #endregion General */

/* #region Utilities */

.container {
    max-width: 540px;
    width: 80%;
    margin: 0 auto;
}

.row {
    margin: 0 -1rem;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    padding: 1rem;
    width: 100%;
}

/* #endregion Utilities */

/* #region HTML */

body {
    header {
        padding: 1rem 0;
        background-image: url(../img/wall.png);
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            text-align: center;
            h1 {
                font-size: 60px;
                color: var(--pb-title-dark);
                font-family: var(--pb-title-font-family);
                text-transform: uppercase;
            }
        }
    }
    main {
        min-height: 700px;
        background-image: url(../img/cork.png);
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            padding: 1rem 0;
            .row {
                .col-12 {
                    .card {
                        position: relative;
                        height: 300px;
                        padding: 1rem;
                        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.598);
                        background-color: var(--pb-photo-bg);
                        #pin {
                            width: 12%;
                            position: absolute;
                            top: -8px;
                            left: 44%;
                        }
                        .card-head {
                            overflow: hidden;
                            background-color: green;
                            height: 75%
                        }
                        .card-body {
                            height: 25%;
                            padding: 1rem 0;
                            text-align: justify;
                            span {
                                font-size: 12px;
                                text-transform: capitalize;
                                color: var(--pb-text-dark);
                                font-family: var(--pb-body-font-family);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* #endregion HTML */

/* #region Responsive */

/* Tablet Mode - MD (>=768px) */

@media screen and (min-width: 768px) {
    .col-md-6 {
        width: calc(100% / 12 * 6);
    }
    .container {
        max-width: 720px;
    }
}

/* Desktop Mode - LG (>=992px) */

@media screen and (min-width: 992px) {
    .col-lg-4 {
        width: calc(100% / 12 * 4);
    }
    .container {
        max-width: 960px;
    }
}