/* #region General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle
}

:root {
    --pb-title-dark: black;
    --pb-text-dark: #212438;
    --pb-photo-bg: white;

    --pb-title-font-family: 'Edu TAS Beginner', sans-serif;
    --pb-body-font-family: 'Sometype Mono', monospace;
}

/* #endregion General */

/* #region Utilities */

.container {
    max-width: 540px;
    width: 80%;
    margin: 0 auto;
}

.row {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

.card {
    position: relative;
    max-width: 350px;
    height: 300px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.598);
    background-color: var(--pb-photo-bg);
    .card-head {
        overflow: hidden;
        background-color: green;
        height: 85%
    }
    .card-body {
        display: flex;
        justify-content: space-between;
        height: 15%;
        padding: 1rem 0;
        span {
            font-size: 12px;
            text-transform: capitalize;
            color: var(--pb-text-dark);
            font-family: var(--pb-body-font-family);
        }
    }
}

.d-none {
    display: none;
}

/* #endregion Utilities */

/* #region HTML */

#overlay {
    position: fixed;
    left: 0; top: 0;
    overflow: auto;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.419);
    #modal {
        position:relative;
        margin: 50% auto;
        width: 50%; height: 60%;
        overflow: hidden;
        #close-mark {
            position: absolute;
            right: .3rem; top: .25rem;
            z-index: 100;
            i {
                font-size: 30px;
                color: white;
            }
        }
    }
}

    header {
        padding: 1rem 0;
        background-image: url(../img/wall.png);
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            text-align: center;
            h1 {
                font-size: 70px;
                color: var(--pb-title-dark);
                font-family: var(--pb-title-font-family);
                text-transform: uppercase;
            }
        }
    }

    main {
        min-height: 1200px;
        background-image: url(../img/cork.png);
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            padding: 1rem 0;
            .row {
                .col-12 {
                    .card {
                        .pin {
                            width: 10%;
                            position: absolute;
                            top: -8px;
                            left: 44%;
                        }
                    }
                }
            }
        }
    }

/* #endregion HTML */

/* #region Responsive */

/* Tablet Mode - MD (>=768px) */

@media screen and (min-width: 768px) {
    .col-md-6 {
        width: calc(100% / 12 * 6);
    }
    .container {
        max-width: 720px;
    }
}

/* Desktop Mode - LG (>=992px) */

@media screen and (min-width: 992px) {
    .col-lg-4 {
        width: calc(100% / 12 * 4);
    }
    .container {
        max-width: 960px;
    }
}

/* #endregion Responsive */